{{#d-modal-body id="send-eth" title="discourse_ethereum.send_ethereum"}}


{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    icon="handshake-o"
    disabled=isLoading
    action="send"
    class="btn-large btn-primary"
    label="discourse_ethereum.send"
  }}
</div>
