{{#link-to "user.summary" user.username}}
  {{bound-avatar-template user.avatar_template avatarSize}}
{{/link-to}}

<a class="eth-username" href={{etherscanURL}} title={{ethereumAddress}} target="_blank">{{user.username}}</a>
