{{#link-to "user.summary" user.username}}
  {{bound-avatar-template user.avatar_template avatarSize}}
{{/link-to}}

<div class="eth-username">{{user.username}}</div>

{{#unless site.mobileView}}
  <div class="eth-address">{{ethereumAddress}}</div>
{{/unless}}
