.user-card-additional-controls-outlet.discourse-ethereum {
  clear: right;
  float: right;
}

.user-main .about:not(.collapsed-info) .user-profile-controls-outlet.discourse-ethereum button {
  width: 100%;
  margin-bottom: 10px;
}
