.user-card-additional-controls-outlet.discourse-ethereum {
  clear: right;
  float: right;
}

.user-main .about:not(.collapsed-info) .user-profile-controls-outlet.discourse-ethereum button {
  width: 100%;
  margin-bottom: 10px;
}

#send-eth {
  text-align: center;
}

.eth-transaction-info {
  width: 100%;
  display: flex;
  margin: 1rem 0 3rem;
}

.eth-user {
  width: 200px;
  padding: 1rem;
  background-color: $primary-very-low;
}

.eth-user-gap {
  flex: 1;
  font-size: 3rem;
  color: $tertiary;
  align-self: center;
  margin: 20px;
}

.eth-transaction-info, .eth-input {
  text-align: center;
}

.eth-username {
  margin-top: 10px;
  font-size: 1.15rem;
  font-weight: bold;
  display: block;
}

.eth-address {
  color: $primary-medium;
  font-size: 0.85rem;
  word-wrap: break-word;

  &:visited, &:hover {
    color: $primary-medium;
  }
}

.eth-input {
  margin: 20px 0 10px;
}

.eth-inputs {
  display: inline-flex;
  margin-bottom: 20px;

  select {
    background-color: $primary-very-low;
    width: 75px;
    border-left: 0;
  }

  input, select {
    border-color: $primary-low-mid;
  }

}

.eth-balance {
  margin-bottom: 10px;

  > span {
    color: $primary-high;
  }
}

.eth-processing {
  font-size: 0.9rem;
  font-style: italic;
  color: $primary-high;
}

.eth-success {
  i {
    color: $success;
    font-size: 6rem;
  }
}

.eth-transaction-id-label {
  font-weight: bold;
  font-size: 0.9rem;
}

.eth-transaction-id {
  color: $primary-high;
  font-weight: bold;
  font-size: 0.95rem;
}

.eth-success-message, .eth-ok-btn {
  margin-top: 1rem;
}
